ENV["EMAIL_USER_NAME"] = "PUT USER NAME HERE"
ENV["EMAIL_PASSWORD"] = "PUT PASSWORD HERE"
ENV['AWS_ACCESS_KEY_ID'] = 'PUTS VALID ENTRY HERE'
ENV['AWS_SECRET_ACCESS_KEY'] = 'PUTS VALID ENTRY HERE'
ENV['TWITTER_CONSUMER_KEY'] = 'PUTS VALID ENTRY HERE'
ENV['TWITTER_CONSUMER_SECRET'] = 'PUTS VALID ENTRY HERE'
