<h2>Create an Answer</h2>
<%#= @answer.errors.full_messages.join(", ") %>
<%= simple_form_for [@question, @answer], remote: true do |f| %>
  <!-- <div>
  <%#= f.text_area :body %>
  </div> -->
  <%#= f.submit "Create Answer" %>

  <%= f.input :body%>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
